<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Squizz</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
        <link href="static/css/styles.css" rel="stylesheet">
        
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        

    </head>
    <body>
       <div class="row-fluid">
	       	<div class="span3"> 
		       	
		       	  <label>Forms 1</label>  
		       	  <input name="forms1" data-provide="typeahead" type="text" placeholder="Type something…">
	       	</div>
	       	<div class="span3"> 
		       	
		       	  <label>Forms 2</label>
		       	  <input name="forms2" type="text" placeholder="Type something…">
	       	</div>
	       	<div class="span3"> 
		       	
		       	  <label>Technique</label>
		       	  <input name="techniques" type="text" placeholder="Type something…">
	       	</div>
	       	<div class="span3"> 
		       	
		       	  <label> Reading </label>
		       	  <input name="reading" type="text" placeholder="Type something…">
	       	</div>
	       	
	   </div>
	   
	   <a href="#" name="puzzbuzz" class="btn btn-success"> <i class="icon-puzzle-piece"></i></a>

	   
	   <div name="results">
	   </div>
	   
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
         <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
 
    
    
    <script>
    
    
   
    
  $(function() {
    var forms1object = [  
      {name: "Throne", list:["chair", "king", "sovereign", "queen"]},
      {name: "Sword", list:["knife", "cricket bat", "rake", "drumstick"]},
      {name: "Shield", list:["chair", "king", "sovereign", "queen"]},
      {name: "Crown", list:["chair", "king", "sovereign", "queen"]},
      {name: "Battleship", list:["chair", "king", "sovereign", "queen"]}  
    ];
    var forms1Data = []
    $.each(forms1object, function(index,obj){
    	forms1Data.push(obj.name)
    });
     	
    $( "input[name=forms1]" ).typeahead({
      source: forms1Data
    });
    
    $("a[name=puzzbuzz]").click(function(e){
	var objectName = $( "input[name=forms1]" ).val() 
    })
    
    
  });
  </script>
    
 
    </body>

</html>
